<div>
   <h1> Game started </h1>
   <p> Welcome <%= session[:name] %> </p>
   <p> Wait for Player 2 to register </p>
</div>

<div>
<!--   <form action="/fire" method='post'>
    Fire at:
    <input type="text" name="fire_location">
    <input type="submit" value="fire">
  </form> -->
</div>