<div>
   <h1> Game started </h1>
   <p> Welcome <%= session[:name] %> </p>
   <%if $game.turn.name == session[:name]%>
    its your turn
    <%else%>
    wait for your turn
    <%end%>
</div>

<div>
  <form action="/fire" method='post'>
    Fire at:
    <input type="text" name="fire_location">
    <input type="submit" value="fire">
  </form>
</div>